body {
  color: black;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;

}

.nav-link {
  color: black;
}

#jumbo-text {
  font-size: 100px;
  color: white;
  text-align: left;
  margin-bottom: 0px;
  overflow-wrap: break-word;
}

.jumbotron p {
  font-size: 70px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

@media (min-width: 708px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        color: black;
    }
}

.nav-container {
  background-color: white;
  border-style: solid;
  border-color: white;
}
.navbar-inverse .navbar-nav>li>a {
    color: black;
}
.navbar-inverse {
    background-color: white;
    border-color: white;
    margin-bottom: 0px;
}

.navbar-toggle {
  color: black;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-number {
  color: blue;
  font-size: 20px;
  padding-top: 7px;
  padding-bottom: : 7px;
  padding-left: 3px;
  padding-right:3px;
  border-style: solid;
  border-color: blue;
  margin-top: 15px;
}
