body {
  color: grey;
  font-family: 'roboto', sans-serif;

}

@@font-face {
  font-family: 'roboto';
  src: url('/fonts/Roboto-Regular.ttf');
}

@@font-face {
  font-family: 'roboto-bold';
  src: url('/fonts/Roboto-Bold.ttf');
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;

}

.nav-link {
  color: grey;
}

#jumbo-text {
  font-size: 100px;
  color: white;
  text-align: left;
  margin-bottom: 0px;
  overflow-wrap: break-word;
  font-weight: bolder;
}

.jumbotron p {
  font-size:90px;
  font-size: 8.5vw;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-family: 'roboto-bold';
}

#web-search {
  color: lightgrey;
}

#mobile-search {
  color: lightgrey;
  display: none;
}

@media only screen
and (min-width : 768px) {
    #mobile-search{
        display:block;
    }
    #web-search{
        display:none;
    }
}

@media screen and (min-width: 101px) and (max-width: 600px) {
  .contact-number {
    display: none;
    }
  hr {
    display: none;
    }
}


@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

.navbar-toggle, .icon-bar {
    border:1px solid #2A82E9;
}

.navbar-inverse .navbar-toggle {
    border-color: #2A82E9;
}
.nav-container {
  background-color: white;
  border-style: solid;
  border-color: white;
  font-size: 16px;
  font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a {
    color: grey;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: grey;
    font-size: 18px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color:  #2A82E9;
    background-color: white;
}

.navbar-inverse {
    background-color: white;
    border-color: white;
    margin-bottom: 0px;
}

.navbar-toggle {
  color: grey;
}


hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-number {
  color: #2A82E9;
  font-size: 25px;
  padding-top: 1px;
  padding-bottom: : 1px;
  padding-left: 4px;
  padding-right:4px;
  border-style: solid;
  border-color: #2A82E9;
  margin-top: 15px;
  font-family: 'roboto-bold';

}

#help-section {
  margin-bottom: 50px;
}

.services-title {
  color: #2A82E9;
  font-size: 55px;
  font-family: 'roboto-bold';
}

.service-detail-title {
  font-family: 'roboto-bold';
  font-weight: 500;
  font-size: 25px;
}

.services-details {
  font-size: 18px;
}

.help-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.find-out-more-btn {
  border-style: solid;
  border-width: medium;
  border-color: #2A82E9;
  font-weight: bold;
  font-size: 15px;
  border-radius: 1px;
  color:  #2A82E9;
  font-family: 'roboto-bold';

}

.find-out-more-btn:hover {
  border-style: solid;
  border-width: medium;
  border-color: #2A82E9;
  font-weight: bold;
  font-size: 16px;
  border-radius: 2px;
  color:  #2A82E9;
}

#blue-section {
  height: 450px;
  color: white;
}

.get-involved {
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
}

.get-involved-p {
  font-size: 16px;
}

.difference-box{
  font-size: 17px;
  border-width: thin;
  border-style: solid;
  border-color: white;
  width: 160px;
  padding-left: 10px;
  padding-right: 5px;
}

#footer-sec {
  background-color: #33DAFF;
  color: white;
}

.info-titles {
  color: #2A82E9;
  font-size: 18px;
}

.about-list {
  color: white;
}

.register-button{
    height: 26px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
    background-color: inherit;
    border-style: solid;
    border-color: white;
}
